<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Add New Event</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
		<link rel="stylesheet" type="text/css" href="../stylesheets/newEvent.css">
	</head>

	<body>
		<!-- load the d3.js library -->    
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<!-- jQuery -->
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<!-- load the data were using -->
		<script src="../data/data.js"></script>
		<!--  -->
		<script src="../js/addNewEvent.js"></script>
		<script>modeChoice();</script>


		<h1 class="centeredContent">Add Financial Event</h1>

		<div class="centeredContent">
			<span><a id="SPENDING" class="btn btn-default" onclick="changeEventType(this.id)">Spending</a></span>
			<span><a id="SAVING" class="btn btn-default" onclick="changeEventType(this.id)">Saving</a></span>
			<span><a id="ROR" class="btn btn-default" onclick="changeEventType(this.id)">Rate of Return</a></span>

			<script type="text/javascript">
				var currentEventMode = localStorage.getItem("currentEventMode");
				$('#'+EVENT_MODE_NAME[currentEventMode]).addClass("active");
			</script>
		</div>

		<div id="newEventForm" class="division">
			<form action="planner.html">
				<button type="submit" class="btn btn-default" aria-label="Left Align">
					<span class="glyphicon glyphicon-share-alt icon-flipped" aria-hidden="true"></span>
				</button>
			</form>
			<br/>

			<h4><script type="text/javascript">
				(function() {
					var currentEventMode = localStorage.getItem("currentEventMode");
					if(currentEventMode == EVENT_MODE.SPENDING){
						document.write('New Planned Spending');
					} else if(currentEventMode == EVENT_MODE.SAVING){
						document.write('New Planned Saving');
					} else if(currentEventMode == EVENT_MODE.ROR){
						document.write('Rate Change');
					}
				})();
			</script></h4>
			
			<div>
				<script type="text/javascript">
					(function() {
						var currentEventMode = localStorage.getItem("currentEventMode");
						if(currentEventMode == EVENT_MODE.SPENDING){
							document.write(
								'<p>Amount:</p>'+
								'<p style="margin-left:20px">$ <input id="eventAmount" type="number" placeholder="15,000"></p>');
						} else if(currentEventMode == EVENT_MODE.SAVING){
							document.write(
								'<p>Amount:</p>'+
								'<p style="margin-left:20px">$ <input id="eventAmount" type="number" placeholder="15,000"></p>');
						} else if(currentEventMode == EVENT_MODE.ROR){
							document.write(
								'<span>New expected rate of return:</span>'+
								'<p style="margin-left:20px"><input id="eventAmount" type="number" placeholder="5">%</p><br/>');
						}
					})();
				</script>
			
			</div>

			<p><script type="text/javascript">
				(function() {
					var currentEventMode = localStorage.getItem("currentEventMode");
					if(currentEventMode == EVENT_MODE.SPENDING){
						document.write('Date of planned expense:');
					} else if(currentEventMode == EVENT_MODE.SAVING){
						document.write('Date of planned expense:');
					} else if(currentEventMode == EVENT_MODE.ROR){
						document.write('Date when new rate takes effect:');
					}
				})();
			</script></p>

			<div style="margin-left:20px">
				<div id="datepicker"></div>
				<script>$(function(){$("#datepicker").datepicker();});</script>
			</div>
			<br/>
			<p>Description:</p>
			<textarea id="eventDescription" style="margin-left:20px" rows="4" cols="50" placeholder=""></textarea>
			<script type="text/javascript">
				(function() {
					var currentEventMode = localStorage.getItem("currentEventMode");
					if(currentEventMode == EVENT_MODE.SPENDING){
						$('#eventDescription').attr("placeholder", "Reason to save money for: re-shingle roof, retirement fund, anniversary present");
					} else if(currentEventMode == EVENT_MODE.SAVING){
						$('#eventDescription').attr("placeholder", "Reason to save money for: re-shingle roof, retirement fund, anniversary present");
					} else if(currentEventMode == EVENT_MODE.ROR){
						$('#eventDescription').attr("placeholder", "Move investments into less risky funds");
					}
				})();
			</script>
			
			<div>
				<br/>
				<span><button type="submit" onclick="window.location.href = './planner.html';">CANCEL</button></span>
				<span><button type="submit" onclick='addUserEvent()'>SAVE</button></span>
			</div>
			<br/>
			<div id="newEventComplete" class="alert alert-success alert-dismissible hidden" role="alert" style="width: 500px;">
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<strong>Event Successfully Added!</strong><br/>
				<button type="button" class="btn btn-success" aria-expanded="false" onclick="addAnotherEvent()">
					Add Another Event 
				</button>
				<button type="button" class="btn btn-info" aria-expanded="false" onclick="window.location.href = './planner.html';">
					View Planner
				</button>
			</div>
		</div>
	</body>
</html>
