<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>IFP</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
	</head>

	<body>
		<!-- load the d3.js library -->    
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- Optional: Include the jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Optional: Incorporate the Bootstrap JavaScript plugins -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

		<h1 class="centeredContent">Welcome to Interactive Financial Planner</h1>
		<div class="centeredContent">
			<span><a href="planner.html">Begin Planning</a></span>
			<span><a href="planner.html">Option 2</a></span>
			<span><a href="planner.html">Option 3</a></span>
		</div>
	</body>
</html>
