<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Financial Planner</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
		<link rel="stylesheet" type="text/css" href="../stylesheets/planner.css">
	</head>

	<body>
		<!-- load the d3.js library -->    
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<!-- load the data were using -->
		<script src="../data/data.js"></script>
		<!-- load the d3 example code -->
		<script src="../js/planner.js"></script>

		<script>
			init();
		</script>
	</body>
</html>
