<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Financial Planner</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
		<link rel="stylesheet" type="text/css" href="../stylesheets/planner.css">
	</head>

	<body>
		<!-- load the d3.js library -->    
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<!-- jQuery -->
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<!-- load the data were using -->
		<script src="../data/data.js"></script>
		<!-- load the d3 example code -->
		<script src="../js/planner.js"></script>

		<h1 class="centeredContent">Financial Savings Planner</h1>
		<div id="allContent">
			<div id="chartContent" class="division">
				<h3>Projected Savings</h3>
				<div id="savingsBox"></div>
				<div>
					<br/>
					<script type="text/javascript">
						var events = JSON.parse(localStorage.getItem("userEvents"));
						if (events != null && events.length > 0) {
							$.each(events, function(key, value) {
								var statement = '<div class="eventDetails">';
								if (value.type.value === EVENT_MODE.SPENDING.value) {
									statement += '<div class="circle circleSpending">'+(key+1)+'</div>';
									statement += ("At "+value.date+" - Spend $"+value.amount+": "+value.description);
								} else if (value.type.value === EVENT_MODE.SAVING.value) {
									statement += '<div class="circle circleSaving">'+(key+1)+'</div>';
									statement += ("At "+value.date+" - Spend $"+value.amount+": "+value.description);
								} else if (value.type.value === EVENT_MODE.ROR.value) {
									statement += '<div class="circle circleROR">'+(key+1)+'</div>';
									statement += ("At "+value.date+" - Rate of return changed to "+value.amount+"%. "+value.description);
								}
								statement += '</div>';
								document.write(statement);
							});
						}
					</script>
				</div>
			</div>

			<div id="sidebar" class="division">
				<form action="addNewEvent.html" style="float:left">
					<button type="submit" class="btn btn-default" aria-label="Left Align">
						<span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>Add New Event
					</button>
				</form>

				<form action="settings.html" style="float:left; clear:right">
					<button type="submit" class="btn btn-default" aria-label="Left Align">
						<span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span>
					</button>
				</form>
			
				<br/><br/>
				<div style="clear:both">
					<h4>Summary:</h4>
					<div id="summaryBox">
						<br/>
						<ul class="summaryItem">
							<li>Average Return</li>
							<ul><li class="summaryItem">--%</li></ul>
						</ul>
						<hr/><br/>
						<ul class="summaryItem">
							<li>Average Monthly Contribution</li>
							<ul><li class="summaryItem">$--</li></ul>
						</ul>
						<hr/><br/>
						<ul class="summaryItem">
							<li>Retirement Total</li>
							<ul><li class="summaryItem">$--</li></ul>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<script>
			init();
		</script>
	</body>
</html>
