body { 
	background-color: #F4F4F4 !important;
}
.centeredContent { 
	text-align: center;
	width:100%;
}
.division {
	padding: 10px;
}
.icon-flipped {
	transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
}
